.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;  /* Adjust the width as needed */
    height: 100vh;
    background-color: #333;  /* Same as the header for consistency */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  /* Allows scrolling for smaller screens */
}

body, html {
    margin: 0;
    padding-left: 200px; /* Sidebar width */
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Existing styles */

/* New styles for dropdown */
.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;  /* Aligns directly under the dropdown button */
    left: 0;  /* Aligns with the left edge of the dropdown button */
    background-color: #f9f9f9;
    width: 100%;  /* Ensures the dropdown matches the width of its parent */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Additions to existing CSS */
.dropdown-content div {
    padding: 5px;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

.dropbtn:focus + .dropdown-content {
    display: block;
}

.dropdown-content input[type="checkbox"] {
    margin: 10px;
}

.dropdown-content button {
    margin: 5px;
    padding: 5px;
}

/* Update styles for dropdown content labels */
#node-checkbox-area label {
    display: inline-block;  /* Ensures labels are in line */
    vertical-align: middle;  /* Aligns text vertically with checkboxes */
    margin-left: 8px;  /* Provides space between checkbox and label */
    color: black; /* Changes text color to black */
}

/* Style for the checkboxes for a cleaner look */
#node-dropdown input[type="checkbox"] {
    accent-color: #333; /* This changes the checkbox color */
    vertical-align: middle;  /* Aligns checkboxes vertically in the middle */
}
#node-checkbox-area {
    max-height: 150px;  /* Adjust according to the height of the sidebar */
    overflow-y: auto;  /* Allows scrolling */
    padding: 5px 0;  /* Padding for better spacing */
}


.dropbtn:hover .dropdown-content,
.dropbtn:focus .dropdown-content {
    display: block; /* Ensures dropdown shows on hover or focus */
}

#vis-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Create two columns */
    grid-gap: 20px;  /* Space between grid items */
    align-items: start;  /* Align items at the start of their respective cells */
    width: 100%;  /* Full width of the container */
    margin: 0 auto;  /* Center the grid horizontally */
    padding: 20px;  /* Padding around the grid container */
    border: 3px solid #010101;  /* Border for definition */
}

.visualization-placeholder {
    background: #fff;  /* White background */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);  /* Shadow for depth */
    border: 3px solid #010101;  /* Border for definition */
    height: 500px;  /* Fixed height for consistency */
    position: relative;  /* Relative positioning for internal positioning */
}

/* Specific settings for Visualization 3 to maintain its required size */
#visualization3 {
    height: 670px;   /*Adjusted height */
    border: 3px solid #010101;  /* Border for definition */
}
#visualization1 {
    height: 670px; /* Ensure height matches other visualizations if necessary */
    flex-grow: 1;  /* Allows the visualization to fill available space */
    min-width: 500px; /* Set a minimum width to prevent it from becoming too small */
    border: 3px solid #010101;  /* Border for definition */
}
#visualization2 {
    height: 670px; /* Ensure height matches other visualizations if necessary */
    flex-grow: 1;  /* Allows the visualization to fill available space */
    min-width: 500px; /* Set a minimum width to prevent it from becoming too small */
    border: 3px solid #010101;  /* Border for definition */
}
#visualization4 {
    height: 670px; /* Ensure height matches other visualizations if necessary */
    flex-grow: 1;  /* Allows the visualization to fill available space */
    min-width: 500px; /* Set a minimum width to prevent it from becoming too small */
    border: 3px solid #010101;  /* Border for definition */
}

/* Additional rules to prevent overflow and manage content sizing */
.visualization-placeholder {
    overflow: hidden;  /* Hide any overflow */
    display: flex;  /* Use flexbox to center content */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    body {
        padding-left: 0;
    }
    #vis-container {
        margin-left: 0;
        grid-template-columns: 1fr; /* Stack the visualizations */
    }
    .visualization {
        width: 100%; /* Full width for smaller devices */
    }
}

canvas {
    pointer-events: auto; /* Ensure pointer events are enabled */
}

#tooltipParallelPlot {
    position: absolute;
    display: none;
    background: lightgray;
    padding: 5px;
    border: 1px solid #ccc;
    pointer-events: none; /* Ensures the tooltip doesn't interfere with mouse events */
    z-index: 10; /* Makes sure the tooltip is on top of other elements */
}
